.general-information {
  background-color: white;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

h3 {
  margin: 0;
}

.general-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#general-form {
  display: none;
}

.first-name-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}